* {
  color: rgb(66, 66, 66);
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  width: 100%;
  min-height: 100vh;
  background: linear-gradient(135deg, rgb(66, 66, 66), rgb(0, 0, 0));
  padding: 10px;
}

.todo-app {
  width: 100%;
  max-width: 540px;
  background: #fff;
  margin: 100px auto 20px;
  padding: 40px 30px 70px;
  border-radius: 10px;
}

.todo-app h2 {
  color: rgb(100, 100, 100);
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.todo-app h2 img {
  width: 30px;
  margin-left: 10px;
}

.row {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #c0c0c0;
  border-radius: 30px;
  padding-left: 20px;
  margin-bottom: 25px;
}

input {
  flex: 1;
  border: none;
  outline: none;
  background: transparent;
  padding: 10px;
  font-weight: 14px;
}

.add-button {
  border-width: 2.5px;
  outline: #000000;
  padding: 16px 50px;
  background: #9f9f9f;
  color: #000000;
  font-size: 16px;
  cursor: pointer;
  border-radius: 40px;
}

.add-button:hover {
  color: #e0e0e0;
  transition: color 250ms ease;
}

ul li {
  list-style: none;
  font-size: 17px;
  padding: 12px 8px 12px 50px;
  user-select: none;
  cursor: pointer;
  position: relative;
}

ul li::before {
  content: "";
  position: absolute;
  height: 28px;
  width: 28px;
  border-radius: 50%;
  background-image: url(src/checkbox-empty.svg);
  background-size: cover;
  background-position: center;
  top: 12px;
  left: 8px;
}

ul li.checked {
  color: #787878;
  text-decoration: line-through;
}

ul li.checked::before {
  background-image: url(src/checkbox-checked.svg);
}

ul li span {
  transition: all 130ms ease-in-out;
  position: absolute;
  right: 0;
  top: 5px;
  width: 40px;
  height: 40px;
  font-size: 22px;
  color: black;
  line-height: 40px;
  text-align: center;
  border-radius: 50%;
}

ul li span:hover {
  background: hsl(0, 0%, 47%);
}

.list-cleaner {
  display: flex;
  justify-content: space-between;
  margin-left: 10px;
  margin-right: 10px;
}

.list-cleaner button {
  border: none;
  font-weight: bolder;
  outline: none;
  background: #f7f7f7;
  padding: 5px;
  border-radius: 5px;
}

.list-cleaner button:hover {
  color: #919191;
  transition: color 250ms ease;
  cursor: pointer;
}

footer {
}
